In [1]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [2]:
pd.read_csv('test.csv')

    Name  Age  Experience  Salary
0   Zika   21         2.0  1700.0
1   Mika   27         5.0  2500.0
2   Pera   18         0.0   700.0
3  Marta   30         NaN     NaN
4    NaN   25         1.0  1200.0

In [3]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

24/04/29 12:44:10 WARN Utils: Your hostname, dev553-H310MHP resolves to a loopback address: 127.0.1.1; using 192.168.0.85 instead (on interface enp1s0)
24/04/29 12:44:10 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/29 12:44:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark

In [5]:
df_pyspark = spark.read.csv('test.csv')

In [6]:
df_pyspark = spark.read.option('header', 'true').csv('test.csv', inferSchema = True)

In [7]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [8]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [9]:
df_pyspark = spark.read.csv('test.csv', inferSchema = True, header=True)
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Zika| 21|         2|  1700|
| Mika| 27|         5|  2500|
| Pera| 18|         0|   700|
|Marta| 30|      NULL|  NULL|
| NULL| 25|         1|  1200|
+-----+---+----------+------+

In [10]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [11]:
df_pyspark.head(3)

[Row(Name='Zika', Age=21, Experience=2, Salary=1700),
 Row(Name='Mika', Age=27, Experience=5, Salary=2500),
 Row(Name='Pera', Age=18, Experience=0, Salary=700)]

In [12]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
| Zika|         2|
| Mika|         5|
| Pera|         0|
|Marta|      NULL|
| NULL|         1|
+-----+----------+

In [13]:
df_pyspark['Name']

Column<'Name'>

In [14]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [15]:
df_pyspark.describe().show()

24/04/29 12:44:20 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----+-----------------+------------------+-----------------+
|summary| Name|              Age|        Experience|           Salary|
+-------+-----+-----------------+------------------+-----------------+
|  count|    4|                5|                 4|                4|
|   mean| NULL|             24.2|               2.0|           1525.0|
| stddev| NULL|4.764451699828638|2.1602468994692865|767.5719293112969|
|    min|Marta|               18|                 0|              700|
|    max| Zika|               30|                 5|             2500|
+-------+-----+-----------------+------------------+-----------------+

In [16]:
df_pyspark = df_pyspark.withColumn('Experience After 2 years', df_pyspark['Experience']+2)

In [17]:
df_pyspark.show()

+-----+---+----------+------+------------------------+
| Name|Age|Experience|Salary|Experience After 2 years|
+-----+---+----------+------+------------------------+
| Zika| 21|         2|  1700|                       4|
| Mika| 27|         5|  2500|                       7|
| Pera| 18|         0|   700|                       2|
|Marta| 30|      NULL|  NULL|                    NULL|
| NULL| 25|         1|  1200|                       3|
+-----+---+----------+------+------------------------+

In [18]:
df_pyspark = df_pyspark.drop('Experience after 2 years')

In [19]:
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Zika| 21|         2|  1700|
| Mika| 27|         5|  2500|
| Pera| 18|         0|   700|
|Marta| 30|      NULL|  NULL|
| NULL| 25|         1|  1200|
+-----+---+----------+------+

In [20]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+------+
|New Name|Age|Experience|Salary|
+--------+---+----------+------+
|    Zika| 21|         2|  1700|
|    Mika| 27|         5|  2500|
|    Pera| 18|         0|   700|
|   Marta| 30|      NULL|  NULL|
|    NULL| 25|         1|  1200|
+--------+---+----------+------+

In [21]:
df_pyspark.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Zika| 21|         2|  1700|
|Mika| 27|         5|  2500|
|Pera| 18|         0|   700|
+----+---+----------+------+

In [22]:
df_pyspark.na.drop(how='any').show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Zika| 21|         2|  1700|
|Mika| 27|         5|  2500|
|Pera| 18|         0|   700|
+----+---+----------+------+

In [23]:
df_pyspark.na.drop(how='any', thresh=3).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Zika| 21|         2|  1700|
|Mika| 27|         5|  2500|
|Pera| 18|         0|   700|
|NULL| 25|         1|  1200|
+----+---+----------+------+

In [24]:
df_pyspark.na.drop(how='any', subset=['Salary']).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Zika| 21|         2|  1700|
|Mika| 27|         5|  2500|
|Pera| 18|         0|   700|
|NULL| 25|         1|  1200|
+----+---+----------+------+

In [25]:
df_pyspark.na.fill({"Name":"Missing Name","Age": -1, "Experience":-1, "Salary": -1}).show()

+------------+---+----------+------+
|        Name|Age|Experience|Salary|
+------------+---+----------+------+
|        Zika| 21|         2|  1700|
|        Mika| 27|         5|  2500|
|        Pera| 18|         0|   700|
|       Marta| 30|        -1|    -1|
|Missing Name| 25|         1|  1200|
+------------+---+----------+------+

In [26]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy("mean")

In [27]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----+---+----------+------+-----------+------------------+--------------+
| Name|Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-----+---+----------+------+-----------+------------------+--------------+
| Zika| 21|         2|  1700|         21|                 2|          1700|
| Mika| 27|         5|  2500|         27|                 5|          2500|
| Pera| 18|         0|   700|         18|                 0|           700|
|Marta| 30|      NULL|  NULL|         30|                 2|          1525|
| NULL| 25|         1|  1200|         25|                 1|          1200|
+-----+---+----------+------+-----------+------------------+--------------+